---
---

@import "{{ site.theme }}";

// Adjust sidebar width (Default is roughly 210px or 30%)
header {
  width: 250px; /* Change this to your preferred width */
}

// Adjust the main content area so it doesn't overlap
section {
  width: calc(100% - 350px); /* 100% minus sidebar width + some gap */
  margin-left: 320px;
}

// Ensure it still looks good on mobile
@media screen and (max-width: 640px) {
  header, section {
    width: auto;
    margin-left: 0;
  }
}
